/* line 7, ../sass/style.sass */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 10, ../sass/style.sass */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
}

/* line 17, ../sass/style.sass */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Microsoft Yahei";
}

/* line 27, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 29, ../sass/style.sass */
ul {
  padding-left: 0;
}
/* line 31, ../sass/style.sass */
ul li {
  list-style: none;
}

/* line 37, ../sass/style.sass */
.slick-slider {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 47, ../sass/style.sass */
.slick-slider .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  width: 100%;
}
/* line 53, ../sass/style.sass */
.slick-slider .slick-slide:focus, .slick-slider .slick-slide:hover {
  outline: 0;
}
/* line 55, ../sass/style.sass */
.slick-slider .slick-slide img {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
}
/* line 61, ../sass/style.sass */
.slick-slider .slick-prev, .slick-slider .slick-next {
  opacity: 0;
  position: absolute;
}
/* line 65, ../sass/style.sass */
.slick-slider .slick-dots, .slick-slider button {
  display: none;
}

@media (min-width: 769px) {
  /* line 70, ../sass/style.sass */
  .mobile {
    display: none;
  }

  /* line 72, ../sass/style.sass */
  body {
    min-height: 900px;
    background-color: #089ab3;
  }

  /* line 76, ../sass/style.sass */
  .tab-container {
    position: relative;
    border-top: 6px solid #0759a5;
    line-height: 1.8em;
    background-image: url(../images/pc-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 84, ../sass/style.sass */
  .tab-container .container {
    position: relative;
    margin: 0 auto;
    width: 800px;
    min-height: 800px;
  }
  /* line 89, ../sass/style.sass */
  .tab-container .tab-left, .tab-container .tab-right {
    position: absolute;
    z-index: 2;
  }
  /* line 92, ../sass/style.sass */
  .tab-container .tab-left {
    top: -12px;
    left: -10px;
  }
  /* line 95, ../sass/style.sass */
  .tab-container .tab-right {
    top: -6px;
    right: -10px;
  }
  /* line 98, ../sass/style.sass */
  .tab-container .nav-tabs {
    position: absolute;
    border-bottom: 0;
    top: -15px;
    margin: 0 auto;
    width: 97%;
    background: linear-gradient(to bottom, #319df7 30%, #247cf7);
    box-shadow: 0 8px 1px #06489e;
    border: 1px solid #319df7;
    color: #0250b4;
    border-top-left-radius: 95px;
    border-top-right-radius: 95px;
    border-bottom-right-radius: 210px;
    border-bottom-left-radius: 210px;
    overflow: hidden;
  }
  /* line 113, ../sass/style.sass */
  .tab-container .nav > li > a {
    padding: 10px 85px;
    color: #0d57d8;
    font-size: 1.6em;
    font-weight: bold;
    border-left: 1px solid #1577de;
  }
  /* line 121, ../sass/style.sass */
  .tab-container .nav-tabs > li > a:hover, .tab-container .nav-tabs > li > a:focus {
    background: linear-gradient(to bottom, #1577de 30%, #0d59dd);
    color: #fef608;
    padding: 10px 85px;
    border-bottom: 0;
    font-size: 1.6em;
    border: 0;
  }
  /* line 128, ../sass/style.sass */
  .tab-container .nav-tabs > li.active > a, .tab-container .nav-tabs > li.active > a:hover, .tab-container .nav-tabs > li.active > a:focus {
    background: linear-gradient(to bottom, #1577de 30%, #0d59dd);
    color: #fef608;
    font-weight: bold;
    font-size: 1.6em;
    border: 0;
  }
  /* line 134, ../sass/style.sass */
  .tab-container .nav-tabs > li.active > a#game, .tab-container .nav-tabs > li.active > a#game:hover, .tab-container .nav-tabs > li.active > a#game:focus, .tab-container .nav-tabs > li > a#game:hover, .tab-container .nav-tabs > li > a#game:focus {
    background: url(../images/tab03.png) no-repeat 225px 27px, linear-gradient(to bottom, #1577de 30%, #0d59dd);
  }
  /* line 136, ../sass/style.sass */
  .tab-container .caption {
    font-weight: bold;
    margin: 2em 0;
    color: #089ab3;
    font-size: 1.4em;
    text-align: center;
    padding: 0;
    line-height: 1.8;
  }
  /* line 144, ../sass/style.sass */
  .tab-container .nav-tabs {
    position: relative;
  }
  /* line 146, ../sass/style.sass */
  .tab-container .nav-tabs img {
    position: absolute;
  }
  /* line 148, ../sass/style.sass */
  .tab-container .nav-tabs img:nth-child(1) {
    left: -10%;
  }
  /* line 150, ../sass/style.sass */
  .tab-container .nav-tabs img:nth-child(1) {
    right: -10%;
  }
  /* line 152, ../sass/style.sass */
  .tab-container .tab-pane {
    position: relative;
    border-radius: 60px;
    background: linear-gradient(to bottom, #089ab3 30%, rgba(0, 0, 0, 0));
    color: #fef608;
    box-shadow: 0 2px 2px rgba(8, 154, 179, 0.2);
  }
  /* line 158, ../sass/style.sass */
  .tab-container .tab-pane .photo-left, .tab-container .tab-pane .photo-right {
    position: absolute;
  }
  /* line 160, ../sass/style.sass */
  .tab-container .tab-pane .photo-left {
    left: -10%;
    top: 22%;
  }
  /* line 163, ../sass/style.sass */
  .tab-container .tab-pane .photo-right {
    bottom: -28%;
    right: -16%;
  }
  /* line 167, ../sass/style.sass */
  .tab-container .tab-pane .tab-box {
    padding: 15px 30px;
    min-height: 40vh;
  }
  /* line 170, ../sass/style.sass */
  .tab-container .tab-pane img {
    padding: 2vw 0 1vw;
  }
  /* line 172, ../sass/style.sass */
  .tab-container .tab-pane .title, .tab-container .tab-pane .introduce {
    display: inline-block;
  }
  /* line 174, ../sass/style.sass */
  .tab-container .tab-pane .title *, .tab-container .tab-pane .introduce * {
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  /* line 178, ../sass/style.sass */
  .tab-container .tab-pane .title {
    background: url(../images/title-left.png) no-repeat left top, url(../images/title-right.png) no-repeat right top;
    width: calc(100% - 50% - 20px*2);
    float: left;
    text-align: center;
  }
  /* line 183, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox {
    margin: 0 auto 1.8vw;
    min-height: 120px;
    width: 60%;
    text-align: left;
  }
  /* line 188, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox span {
    font-size: 1.6em;
  }
  /* line 190, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox h1 {
    font-size: 2.2em;
    line-height: 1.5;
  }
  /* line 193, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox p {
    font-size: 1.2em;
  }
  /* line 195, ../sass/style.sass */
  .tab-container .tab-pane .title .imgbox {
    border: 8px solid #02548e;
    border-radius: 35px;
    overflow: hidden;
    margin-top: 1.8vw;
  }
  /* line 200, ../sass/style.sass */
  .tab-container .tab-pane .title .imgbox img {
    width: 100%;
  }
  /* line 202, ../sass/style.sass */
  .tab-container .tab-pane .introduce {
    padding-left: 1em;
  }
  /* line 204, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box {
    margin-bottom: 1.5vw;
  }
  /* line 206, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box:nth-child(3) {
    margin-bottom: 0;
  }
  /* line 208, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box h3 {
    line-height: 1.8;
  }
  /* line 210, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box p {
    margin-left: 1.3em;
    font-size: 1.1em;
  }
  /* line 213, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box img {
    margin-right: 0.5vw;
    width: 11px;
    height: 11px;
  }
  /* line 218, ../sass/style.sass */
  .tab-container #tiger {
    padding-bottom: 2em;
  }
  /* line 220, ../sass/style.sass */
  .tab-container #fish {
    padding-bottom: 4em;
  }
  /* line 222, ../sass/style.sass */
  .tab-container #streetgame {
    padding-bottom: 6em;
  }
  /* line 224, ../sass/style.sass */
  .tab-container a.button {
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    width: 338px;
    height: 130px;
    margin: 80px auto 50px;
    transition: background-color 0.5s;
  }
  /* line 234, ../sass/style.sass */
  .tab-container a.button:hover {
    background-image: url(../images/button-h.png);
  }
}
@media (max-width: 769px) {
  /* line 243, ../sass/style.sass */
  .pc {
    display: none;
  }

  /* line 246, ../sass/style.sass */
  body {
    background-color: #002363;
    line-height: 1.8em;
  }

  /* line 250, ../sass/style.sass */
  .caption {
    font-weight: bold;
    margin: 1.4em 0;
    color: #089ab3;
    font-size: 1.4em;
    text-align: center;
    padding: 0 1.4em;
    line-height: 1.8;
  }

  /* line 260, ../sass/style.sass */
  section.contain {
    padding: 2em 1.6em;
    border-top: 2px dashed #089ab3;
  }

  /* line 264, ../sass/style.sass */
  .CQ9-box {
    padding: 1.2em 0;
    border-radius: 12px;
    padding: 1.6em 1em;
    background: linear-gradient(to bottom, #089ab3 30%, rgba(0, 0, 0, 0));
    box-shadow: 0 2px 2px rgba(8, 154, 179, 0.2);
    color: #fef608;
  }
  /* line 271, ../sass/style.sass */
  .CQ9-box > div {
    display: inline-block;
  }
  /* line 273, ../sass/style.sass */
  .CQ9-box > div * {
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  /* line 278, ../sass/style.sass */
  .CQ9-box .title {
    width: 40%;
    float: left;
  }
  /* line 281, ../sass/style.sass */
  .CQ9-box .title span {
    font-size: 1.4em;
  }
  /* line 283, ../sass/style.sass */
  .CQ9-box .title h1 {
    font-size: 2.5em;
    line-height: 1.8;
  }
  /* line 286, ../sass/style.sass */
  .CQ9-box .title p {
    font-size: 1.2em;
  }
  /* line 288, ../sass/style.sass */
  .CQ9-box .title img {
    margin-top: 2.7vw;
    width: 80%;
  }
  /* line 291, ../sass/style.sass */
  .CQ9-box .introduce {
    width: 60%;
    padding-left: 1em;
  }
  /* line 294, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box {
    margin-bottom: 2.8vw;
  }
  /* line 296, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box:nth-child(3) {
    margin-bottom: 0;
  }
  /* line 298, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box h3 {
    line-height: 1.8;
  }
  /* line 300, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box p {
    font-size: 1.1em;
    margin-left: 2.2vw;
  }
  /* line 303, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box img {
    margin-right: 0.5vw;
  }

  /* line 305, ../sass/style.sass */
  a.button-h5 {
    background-image: url(../images/button-h5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    width: 250px;
    height: 96px;
    margin: 30px auto 50px;
    transition: background-color 0.5s;
  }
  /* line 315, ../sass/style.sass */
  a.button-h5:hover {
    background-image: url(../images/button-h-h5.png);
  }
}
@media (max-width: 426px) {
  /* line 321, ../sass/style.sass */
  .CQ9-box .title img {
    width: 100%;
    margin-top: 16.5vw;
  }
  /* line 324, ../sass/style.sass */
  .CQ9-box .title #game {
    margin-top: 9vw;
  }
}
@media (max-width: 321px) {
  /* line 330, ../sass/style.sass */
  .CQ9-box .title span {
    font-size: 1.2em;
  }
  /* line 332, ../sass/style.sass */
  .CQ9-box .title p {
    font-size: 1em;
  }
  /* line 334, ../sass/style.sass */
  .CQ9-box .title img#tiger {
    margin-top: 36vw;
  }
  /* line 336, ../sass/style.sass */
  .CQ9-box .title img#game {
    margin-top: 18vw;
  }
  /* line 338, ../sass/style.sass */
  .CQ9-box .title h1 {
    font-size: 1.8em;
  }
}
